$color-legend: #9555af;
$tablet-size: 36rem;
$desktop-size: 80rem;

//legend boxes color
$color-es: #4a2426;
$color-ch: #872e32;
$color-wh: #f7f7f2;
$color-wa: #7bf2fe;
$color-ic: #bfcc40;
$color-va: #fcf23d;
$color-st: #c7c7c7;
$color-ca: #c86939;
$color-mi: #fce9b4;

