<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://use.typekit.net/ans6mvt.css">
    <title>Infographic</title>
</head>
<body>
    <main class="wrapper">
      {{!-- Legends Start Here --}}
      <h1 class="mainTitle">Coffee Recipe</h1>

      <section class="legends">
        <h2>Legends</h2>
        <div class="one-boxes">

          <div class="whole-es">
          <div class="box-es"></div>
          <p>Espresso</p>
          </div>

          <div class="whole-ch">
          <div class="box-ch"></div>
          <p>Chocolate Syrup</p>
          </div>
          
          <div class="whole-wh">
          <div class="box-wh"></div>
          <p>Whip Cream</p>
          </div>
        </div>

        <div class="two-boxes">
          <div class="whole-wa">
          <div class="box-wa"></div>
          <p>Water</p>
          </div>

          <div class="whole-va">
          <div class="box-va"></div>
          <p>Vanilla Syrup</p>
          </div>

          <div class="whole-ic">
          <div class="box-ic"></div>
          <p>Ice Cream</p>
          </div>
          
        </div>

        <div class="three-boxes">
          <div class="whole-st">
          <div class="box-st"></div>
          <p>Milk</p>
          </div>

          <div class="whole-ca">
          <div class="box-ca"></div>
          <p>Caramel Syrup</p>
          </div>

          <div class="whole-mi">
          <div class="box-mi"></div>
          <p>Milk Form</p>
          </div>
        </div>
      </section>
      {{!-- Legends End Here --}}
      <section class="coffees">
      <section class="one-row">
        <h2 class="hidden">Espresso</h2>

        <div class="oneC">
          <div class="es-con">
            <object data="images/Asset1.svg" type="image/svg+xml" data-target="1" class="coffee" id="coffee1"></object>
            </div>
          
          <div class="pa-con">
            <object data="images/Asset2.svg" type="image/svg+xml" data-target="2" class="coffee"></object>
            </div>
            
        </div>

        <object data="images/Asset3.svg" type="image/svg+xml" data-target="3" class="coffee"></object>
        <object data="images/Asset4.svg" type="image/svg+xml" data-target="4" class="coffee"></object>
    </section>

    <section class="two-row">
        <object data="images/Asset5.svg" type="image/svg+xml" data-target="5" class="coffee"></object>
        <object data="images/Asset6.svg" type="image/svg+xml" data-target="6" class="coffee"></object>
        <object data="images/Asset7.svg" type="image/svg+xml" data-target="7" class="coffee"></object>
    </section>

    <section class="third-row">
        <object data="images/Asset8.svg" type="image/svg+xml" data-target="8" class="coffee"></object>
        <object data="images/Asset9.svg" type="image/svg+xml" data-target="9" class="coffee"></object>
        <object data="images/Asset10.svg" type="image/svg+xml" data-target="10" class="coffee"></object>
    </section>
  </section>

  <article class="showRecipe">
          <p class="recipe-legend"></p>
        </article>
    </main>
<script src="js/main.js"></script>
</body>

</html>
